<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
			    
                        <h1>New Age is an app landing page that will help you beautifully showcase your new mobile app, or anything else!</h1>
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
			 <div class="device-mockup iphone6_plus portrait white">

                        <div class="device">

                            <div class="screen">
				    
				    {% include mailchimp.html %}
				    
				</div>
				 </div>
			</div>
                </div>
            </div>
        </div>
    </div>
</header>
